# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*      # any other env files

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Docker files (optional, if you don't want to push Docker secrets)
docker-compose.override.yml
*.env

# PyCharm project files
.idea/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Backup files
*~
*.bak
